# Project exclude paths
/cmake-build-debug/
/cmake-build-debug-executor/
/cmake-build-debug-loader/
/cmake-build-release/
/cmake-build-minsizerel/
/cmake-build-runtests/
/.idea/
/exclude/
/venv/
*.exe
*.dll
